<section>
    <div class="top_rated">
        <div class="view_all"> 
            <div class="view_heading"><h1>Top Rated </h1></div>
            <div class="view_btn"><button class="view_all_btn" routerLink="allmovies">View all</button></div>
        </div>
        <div class="movies">
            <div class="top_single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="top_single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="top_single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="top_single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="top_single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="top_single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            
        </div>
    </div>
    <div class="action single_view">
        <div class="tittle"><h1>Action</h1></div>
        <div class="top_rated_movies">
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
        </div>
    </div>
    <div class="horror single_view">
        <div class="tittle"><h1>Horror</h1></div>
        <div class="top_rated_movies">
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
        </div>
    </div>
    <div class="comady single_view">
        <div class="tittle"><h1>Comady</h1></div>
        <div class="top_rated_movies">
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
        </div>
    </div>
    <div class="Thriller single_view">
        <div class="tittle"><h1>Thriller</h1></div>
        <div class="top_rated_movies">
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
        </div>
    </div>
    <div class="sci_fi single_view">
        <div class="tittle"><h1>Sci-Fi</h1> </div>
        <div class="top_rated_movies">
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
        </div>
    </div>
    <div class="fantacy single_view">
        <div class="tittle"><h1>Fantacy</h1></div>
        <div class="top_rated_movies">
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
            <div class="single_movie">
                <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_.jpg" alt="">
                <span>Avatar</span>
            </div>
        </div>
    </div>
</section>