<section>

    <div class="heading">
        <span>Contact Us</span>
    </div>

    <div class="main">
        <div class="sec_main">
            <div class="main_1">
                <div class="main_head">
                    <h2>Let get in touch</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quia dicta perspiciatis!</span>
                </div>
                <div class="email">
                    <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                    <span>movieflex@gmail.com</span>
                </div>
                <div class="email">
                    <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                    <span>@movieflex</span>
                </div>
                <div class="email">
                    <i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i>
                    <span>@movieflex.com</span>
                </div>
                <div class="email">
                    <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                    <span>@movieflex.com</span>
                </div>



            </div>
            <div class="main_2">
                <div class="container">
                    <div class="row input-container">
                            <div class="col-xs-12">
                                <div class="styled-input wide">
                                    <input type="text" required />
                                    <label>Name</label> 
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="styled-input">
                                    <input type="text" required />
                                    <label>Email</label> 
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="styled-input" style="float:right;">
                                    <input type="text" required />
                                    <label>Phone Number</label> 
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="styled-input wide">
                                    <textarea required></textarea>
                                    <label>Message</label>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="btn-lrg submit-btn">Send Message</div>
                            </div>
                    </div>
                </div>
                

            </div>

        </div>


    </div>


</section>