<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<section>
    <div class="add_review">
        <span>REVIEWS</span>
        <button type="submit" class="button_add" (click)="openReview()"> ADD REVIEW </button>
    </div>
    <div class="review" [class.openReview]="openReviewform">
        <div class="movie_rating">
            <span>Rate the Movie ?</span>
            <div *ngFor="let i of starCount">
                <i class="fa-solid fa-star" (click)="addRating(i)" [ngClass]="{'activeStar':i<=rating}"></i>
            </div>
        </div>
        <div class="review_heading">
            <input type="text" name="review_heading" placeholder="Add a one word about the movie" [(ngModel)]="reviewHeading">
        </div>
        <div class="review_content">
            <textarea name="review_content" id="review" cols="30" rows="10" class="review_txt" [(ngModel)]="reviewContent"></textarea>
        </div>
        <div class="addReviewbtn"><button class="button_add" type="submit" (click)="uploadReview()">post</button></div>
        
    </div>
    <div class="container" *ngFor="let i  of movieReviewDate">
        <div class="profile">
            <div class="profile_photo">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg" alt="">

            </div> 
            <div class="profile_name">
                <span>{{i.username}}</span>
                <a (click)="openDeleteForm()"><em title="More option"><span><i class="fa-solid fa-circle-info" style="color: #ffffff;"></i></span></em></a>
                 <div class="delete" [class.openDelete]="openDelete">
                    <button type="submit"><i class="fa-solid fa-pencil" style="color: #000000;"></i>Edit</button>
                    <button type="submit"><i class="fa-regular fa-trash-can" style="color: #000000;"></i>Delete</button>
                 </div>
            </div>
            <div class="date">
                <span>{{i.date}}</span>

            </div>

        </div>
        <div class="rating_star">
            <i class="fa-solid fa-star" style="color: #ffc800;"></i>
        </div>
        <div class="content">
            <h1 style="color: white;
            margin-bottom: 25px;">{{i.reviewheading}}</h1>
            <span>{{i.reviewcontent}}</span>
        </div>

    </div>
</section>
