<section>
    <div class="loginForm">
        <div class="login">
            <h3>Log In</h3>
        </div>
        <div class="logindetails">
            <form>
                <label for="email">Email Id:</label><br>
                <input type="text" name="email" placeholder="email" id="email"><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" placeholder="Password" id="password"><br>
              
            </form>
            <button type="submit">Log In</button>
        </div>
        <div class="newuser">
            <span>Don't have an account!<a routerLink="/register"><b>Register</b></a> </span>
        </div>
    </div>

</section>
