<section>
    <div class="loginForm">
        <div class="login">
            <h3>Log In</h3>
        </div>
        <div class="logindetails">
            <form [formGroup]="loginUserForm">
                <input type="text" name="email" placeholder="email" id="email" formControlName="email" class="form-control"><br>
                <span *ngIf="loginUserForm.get('email').invalid && loginUserForm.get('email').touched">Please enter valid email.</span>
                <input type="password" name="password" placeholder="Password" id="password" formControlName="password" class="form-control"><br>
                <span *ngIf="loginUserForm.get('password').invalid && loginUserForm.get('password').touched">Please enter valid password.</span>
              
            </form>
            <button type="submit" (click)="logInUser()">Log In</button>
        </div>
        <div class="newuser">
            <span>Don't have an account!<a routerLink="/register"><b>Register</b></a> </span>
        </div>
    </div>

</section>
