<section>
    <div class="loginForm">
        <div class="login">
            <h3>Register</h3>
        </div>
        <div class="logindetails">
            <form [formGroup]="userRegDetails">
            
                <input type="text" name="name" placeholder="name" id="name" class="form-control" formControlName="name">
                 <span *ngIf="userRegDetails.get('name').invalid && userRegDetails.get('name').touched">
                    <i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i> 
                 </span><br>
                <input type="text" name="username" placeholder="username" class="form-control" id="username"formControlName="username">
                <span *ngIf="userRegDetails.get('username').invalid && userRegDetails.get('username').touched">
                    <i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i> 
                </span><br>
                <input type="text" name="email" placeholder="email" class="form-control" id="email" formControlName="email">
                <span *ngIf="userRegDetails.get('email').invalid && userRegDetails.get('email').touched">
                    <i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i> 
                 </span><br>
                <input type="password" name="password" placeholder="Password" class="form-control" id="password" formControlName="password">
                <span *ngIf="userRegDetails.get('password').invalid && userRegDetails.get('password').touched">
                    <i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i>  
                </span><br>
                 
            </form>
            <button type="submit" (click)="Register()">Register</button>
        </div>
        <div class="newuser">
            <span>if you have an account!<a routerLink="/login"><b>Log in</b></a> </span>
        </div>
    </div>
</section>
