<section>
    <div class="loginForm">
        <div class="login">
            <h3>Register</h3>
        </div>
        <div class="logindetails">
            <form>
                <label for="email">Name:</label><br>
                <input type="text" name="name" placeholder="name" id="name"><br>
                <label for="email">User name</label><br>
                <input type="text" name="username" placeholder="username" id="username"><br>
                <label for="email">Email Id:</label><br>
                <input type="text" name="email" placeholder="email" id="email"><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" placeholder="Password" id="password"><br>
                 
            </form>
            <button type="submit">Log In</button>
        </div>
        <div class="newuser">
            <span>if you have an account!<a routerLink="/login"><b>Log in</b></a> </span>
        </div>
    </div>
</section>
